{
  "extends": ["react-app", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "parserOptions": { "ecmsVersion": "6", "sourceType": "module" },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": 0,
    "react/display-name": 0,
    "react/prop-types": 0,
    "react/no-unescaped-entities": 0
  }
}
