.dice-four-group-main-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: -webkit-fill-available;

  .column {
    display: flex;
    flex-direction: column;
    div {
      display: flex;
    }

    .dice-one-group {
      @include dice-with-one-row();
    }
  }

  //math-opration-img
  @include math-op-img();
}
