.dice-ten-minus-one-main-outer-stage-one {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: -webkit-fill-available;

  .column {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .img-group {
    position: relative;
    @include dice-with-three-row();

    .img-wrapper {
      position: relative;
      .cross-img {
        position: absolute;
        right: 0px;
        opacity: 0.8;
      }
    }
  }
}
