.double-fours-is-eight-with-dice-main-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: -webkit-fill-available;

  .column {
    display: flex;
    flex-direction: column;
    @include dice-with-two-row();
    div {
      display: flex;
    }
  }

  //math-opration-img
  @include math-op-img();
}
